---
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug);

if (!post) throw new Error("Post not found");

const { Content } = await post.render();
---

<html>
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <small>{post.data.date}</small>
    <Content />
  </body>
</html>
