---
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter(p => !p.data.draft)
  .sort((a,b)=> new Date(b.data.date)-new Date(a.data.date));
---

<html>
  <body>
    <h1>My Blog</h1>

    <ul>
      {posts.map(post => (
        <li>
          <a href={`/posts/${post.slug}/`}>
            {post.data.title}
          </a>
          — {post.data.date}
        </li>
      ))}
    </ul>

  </body>
</html>
