<html>
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <slot />

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          // Handle invite confirmation & password set
          if (window.location.hash.includes("invite_token")) {
            window.netlifyIdentity.acceptInvite();
          }

          // After login redirect to admin
          window.netlifyIdentity.on("login", () => {
            window.location.href = "/admin/";
          });
        });
      }
    </script>
  </body>
</html>
